.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kompas {
  background-image: url('compass.svg');
  width: 10vw;
  height: 10vw;
  background-repeat: no-repeat;
  background-position: center;
}
